{% load static %}

<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>
Weather App
</title>

<link
rel="stylesheet"
href="{% static 'css/style.css' %}">

</head>

<body>

<div class="card">

<h1>

🌤 Weather App

</h1>

<form method="GET">

{{ form.city }}

<button type="submit">

Пошук

</button>

</form>

{% if error %}

<p class="error">

{{ error }}

</p>

{% endif %}

{% if weather %}

<div class="weather">

<h2>

{{ weather.name }},
{{ weather.sys.country }}

</h2>

<img
src="https://openweathermap.org/img/wn/{{ weather.weather.0.icon }}@2x.png"
alt="weather">

<h1>

{{ weather.main.temp }}°C

</h1>

<p>

{{ weather.weather.0.description }}

</p>

<div class="info">

<p>

🌡 Відчувається:
{{ weather.main.feels_like }}°C

</p>

<p>

⬇ Мін:
{{ weather.main.temp_min }}°C

</p>

<p>

⬆ Макс:
{{ weather.main.temp_max }}°C

</p>

<p>

💧 Вологість:
{{ weather.main.humidity }}%

</p>

<p>

🧭 Тиск:
{{ weather.main.pressure }}
hPa

</p>

<p>

💨 Вітер:
{{ weather.wind.speed }}
м/с

</p>

</div>

<a
href="/forecast/{{ weather.name }}/"
class="forecast-btn">

📅 Прогноз на 5 днів

</a>

<a
class="forecast-btn"
href="/favorite/{{ weather.name }}/{{ weather.sys.country }}/">

⭐ Додати в улюблені

</a>

<br>

<a
href="/favorites/"
class="forecast-btn">

⭐ Мої міста

</a>

<br>

<a
href="/login/"
class="forecast-btn">

🔑 Увійти

</a>

<br><br>

<a
href="/register/"
class="forecast-btn">

📝 Реєстрація

</a>

<br>

{% if user.is_authenticated %}

<a
href="/logout/"
class="forecast-btn">

🚪 Вийти

</a>

{% else %}

<a
href="/login/"
class="forecast-btn">

🔑 Увійти

</a>

<br><br>

<a
href="/register/"
class="forecast-btn">

📝 Реєстрація

</a>

{% endif %}

</div>

{% endif %}

</div>

</body>

</html>